<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/cedula']">Cedula</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/ficha']">Ficha</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/registro']">Registro</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/planes']">Planes</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/solicitud']">Solicitud</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/asesorias']">Asesorias</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/capacitaciones']">Capacitaciones</a>
  </li>
</ul>