<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<body>
<div class="container">
	<div class="row">
		<h2>Registro de Cédula</h2>
	</div>
    <form action="#">
        <div class="row">
                <div class="col-md-3">
                    <div class="form-group form-group-sm">
                        <label for="firstname" class="control-label">Nombre(s)</label>
                        <input type="text" class="form-control" id="" placeholder="">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="lastname" class="control-label">Apellido Paterno</label>
                        <input type="text" class="form-control" id="" placeholder="">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="lastname" class="control-label">Apellido Materno</label>
                        <input type="text" class="form-control" id="" placeholder="">
                    </div>
                </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
              <label for="lastname" class="control-label">Telefono</label>
              <input type="text" class="form-control" id="" placeholder="">
          </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
            <label for="lastname" class="control-label">Celular</label>
            <input type="text" class="form-control" id="" placeholder="">
        </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
          <label for="lastname" class="control-label">Email</label>
          <input type="text" class="form-control" id="" placeholder="">
      </div>
  </div>

  <div class="col-md-3">
    <div class="form-group">
        <label for="lastname" class="control-label">Razon o denominacion social</label>
        <input type="text" class="form-control" id="" placeholder="">
    </div>
</div>

<div class="col-md-3">
  <div class="form-group">
      <label for="lastname" class="control-label">RFC</label>
      <input type="text" class="form-control" id="" placeholder="">
  </div>
</div>

<div class="col-md-3">
  <div class="form-group">
      <label for="lastname" class="control-label">Email</label>
      <input type="text" class="form-control" id="" placeholder="">
  </div>
</div>
<div class="col-md-3">
  <div class="form-group">
      <label for="lastname" class="control-label">Pagina de Internet</label>
      <input type="text" class="form-control" id="" placeholder="">
  </div>
</div>

<div class="col-md-3">
  <div class="form-group">
      <label for="lastname" class="control-label">Giro Comercial</label>
      <input type="text" class="form-control" id="" placeholder="">
  </div>
</div>

<div class="col-md-2">
  <div class="form-group">
      <label for="lastname" class="control-label">Fabricante</label>
      <input type="text" class="form-control" id="" placeholder="">
  </div>
</div>
<div class="col-md-2">
  <div class="form-group">
      <label for="lastname" class="control-label">Dist.Aut</label>
      <input type="text" class="form-control" id="" placeholder="">
  </div>
</div>
<div class="col-md-2">
  <div class="form-group">
      <label for="lastname" class="control-label">Comercializadora </label>
      <input type="text" class="form-control" id="" placeholder="">
  </div>
</div>
<div class="col-md-5">
  <div class="form-group">
      <label for="lastname" class="control-label">Descripcion del proyecto producto y/o servicio </label>
      <input type="text" class="form-control" id="" placeholder="">
  </div>
</div>
Actualmente vende su producto|servicio:<br>

<label><input type="radio" name="si" value="si"> Si</label><br>

<label><input type="radio" name="no" value="no"> No</label>
  <br>

  Esta interesado en recibir infromación y formar parte de el centro de incubación e innovacion empresarial:<br>

  <label><input type="radio" name="si" value="si"> Si</label><br>
  
  <label><input type="radio" name="no" value="no"> No</label>
    <br>
        
        <div class="container-fluid h-200"> 
                        <div class="row w-100 align-items-center">
                            <div class="col text-center">
                                <button class="btn btn-danger regular-button"> Registrar </button>
                                <button class="btn btn-danger regular-button"> Consultar </button>
                                <button class="btn btn-danger regular-button"> Modificar </button>
                            </div>	
                        </div>
                
                
                    </div>
    </form>
</div>
</body>